/* IMPORTS ---------- */
@import url("https://use.typekit.net/cgv4asz.css");
@import url("https://kit.fontawesome.com/831e6c6172.js");

:root {
  --black: #000;
  --white: #fff;
  --darkblue: #5f85fc;
  --oceanblue: #7ac2cd;
  --lightgreen: #8efe9f;
}

/* BASE STYLE ---------- */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 16px(default browser size)x 0,625 = 10px for easier rem calculation */
}

body {
  background-color: var(--white);
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

h1 {
  font: 2.6em "proxima-nova";
  font-weight: 700;
  letter-spacing: 0.045rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

h2,
h4 {
  font: 1.8rem "proxima-nova";
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5px;
}

h3 {
  font: 1.8rem "mixta-didone-alt";
  font-weight: 900;
  text-transform: uppercase;
  margin: 10px auto;
}

h4 {
  color: var(--darkblue);
}

p {
  font: 1.8rem "proxima-nova";
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 1.4;
}

p:not(.no-bottom-margin p) {
  margin-bottom: 30px;
}

a {
  color: #5f85fc;
  font: 1.8rem "proxima-nova";
  font-weight: 700;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  text-decoration: none;
}

hr {
  border: 0.5px solid var(--black);
  width: 80%;
  max-width: 900px;
  margin-bottom: 30px;
}

/* NAVIGATION ---------- */
.width-header {
  width: 100%;
  max-width: 1800px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

header {
  background: var(--white);
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.header-green {
  background-color: var(--lightgreen);
  margin-bottom: 30px;
}

.hamburger span {
  height: 3px;
  width: 30px;
  background: var(--black);
  display: block;
  margin-bottom: 5px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.logo {
  color: var(--black);
  font: 1.8rem "mixta-didone-alt";
  letter-spacing: 0.05rem;
  text-transform: initial;
}

nav {
  background: var(--white);
  width: 100vw;
  height: 3000px;
  position: absolute;
  right: 0;
  margin-top: 59px;
  top: 0;
  z-index: 1000;
  /* transition: right 0.1s ease-in-out; */
  display: none; /*REMOVE FOR TRANSITION TO WORK */
  overflow-y: hidden;
}

nav ul {
  margin-top: 50px;
}
nav a,
nav p {
  color: var(--darkblue);
  margin-left: 35px;
  padding: 5px;
}

nav li {
  margin-bottom: 20px;
}

.nav-black-links a {
  color: var(--black);
  text-transform: initial;
}

nav a:active {
  color: inherit;
}

#trigger {
  display: none;
}

#trigger:checked ~ nav {
  display: inline;
}

#trigger:checked ~ .hamburger span:first-child {
  transform: rotate(45deg);
  top: 8px;
}

#trigger:checked ~ .hamburger span:last-child {
  transform: rotate(-45deg);
  top: -8px;
}

#trigger:checked ~ .hamburger span:nth-child(2) {
  opacity: 0;
}

/* FOOTER STYLE ---------- */
footer {
  color: var(--black);
  background-color: var(--lightgreen);
  width: 100vw;
  position: absolute;
  z-index: 999;
}

.footer-content {
  margin: 30px auto;
}

footer a {
  color: var(--black);
  font-size: 1.5rem;
}

/* IMAGES ---------- */
.exhib-1 {
  background: url(images/brano-Mm1VIPqd0OA-unsplash-downsized-2330.jpg) center/cover no-repeat;
}
.exhib-3 {
  background: url(images/national-cancer-institute-L7en7Lb-Ovc-unsplash-downsized-2400.jpg) center/cover no-repeat;
}
.exhib-4 {
  background: url(images/nariman-mosharrafa-7VSQt-obpso-unsplash.-downsized-2100.jpg) center/cover no-repeat;
}
.exhib-2 {
  background: url(images/nasa-rTZW4f02zY8-unsplash-downsized-2151.jpg) top/cover no-repeat;
}
.exhib-5 {
  background: url(images/possessed-photography-rDxP1tF3CmA-unsplash-2074.jpg) center/cover no-repeat;
}

.planvisit-teachers {
  background: url(images/madalena-veloso-i4cNZ9INb3Y-unsplash-downsized-1650.jpg) bottom center/cover no-repeat;
}
.planvisit-foodanddrinks {
  background: url(images/yu-kato-X9yeaqT8ONE-unsplash-downsized-1150.jpg) right center/cover no-repeat;
}
.planvisit-getintouch {
  background: url(images/samuel-zeller-113381-downsized-1450.jpg) center center/cover no-repeat;
}
.planvisit-location {
  background: url(images/luke-ellis-craven-400722-downsized-1580.jpg) top/cover no-repeat;
}

.for-kids-img {
  background: url("images/samuel-zeller-158996-downsized-1800.jpg") center bottom/cover no-repeat;
}
.for-teachers-img {
  background: url("images/bee-naturalles-IRM9qgZdlW0-unsplash-2692-downsized.jpg") center/cover no-repeat;
}
.for-researchers-img {
  background: url("images/misael-moreno-Rl9bIWKCVF0-unsplash-2700-downsized.jpg") center/cover no-repeat;
}

.get-involved-img {
  background: url("images/markus-spiske-197281-downsized-2258.jpg") center center/cover no-repeat;
}

.home-whats-happening img,
.whats-happening-content img,
.about-us-content img,
.visit-us-info img {
  min-width: 100%;
  max-width: 100%;
  flex-shrink: 0;
}

.about-us-content img,
.visit-us-content img {
  margin-bottom: 20px;
}

.explore-img,
.get-involved-img {
  width: 100%;
  height: 300px;
  margin: auto;
}

/* MAIN STYLE FOR ALL PAGES ----------*/
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.width {
  width: 90%;
  max-width: 900px;
}

.margin-bottom,
.home-exhib,
.content-event,
.about-us-contact p:nth-child(4),
footer h2:first-child {
  margin-bottom: 30px;
}

/* HOME PAGE STYLE ---------- */
.welcome {
  background: url(images/atom-frontpage-william-bout-264826-downsized.jpg) center/cover no-repeat;
  width: 100%;
  height: 515px;
  top: 0;
}

.welcome-text {
  background: rgba(145, 172, 255, 0.5);
  max-width: 400px;
  height: 400px;
  padding: 10px 0;
}

.welcome-text h1 {
  font-size: 3rem;
  transform: rotate(352deg);
  text-transform: none;
  text-align: center;
  margin: auto;
}

.button {
  background: var(--black);
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 30px;
  align-self: flex-end;
  transition: box-shadow 0.5s ease-in-out;
}

.button:hover {
  box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px var(--darkblue) /* ,0px 0px 0px 10px #fff  adds third border*/;
}

.welcome-text a {
  color: var(--white);
}

.exhib.exhib span:nth-child(3),
.grid a,
header a {
  transition: letter-spacing 0.2s ease-in-out;
}

/* BOTH HOME & EXHIBITION PAGE ---------- */
.home-exhib {
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exhib span {
  font-family: "proxima-nova";
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-left: 20px;
}

.home-exhib span {
  font-size: 2.3rem;
}

.exhib-1 span {
  color: #fd8dd7;
}
.exhib-3 span {
  color: #ec646c;
}
.exhib-4 span {
  color: #29fd39;
}
.exhib-2 span {
  color: #f79b64;
}
.exhib-5 span {
  color: #f28e24;
}

.exhib span:nth-child(3) {
  font-size: 1.8rem;
  color: var(--white);
  margin-left: 20px;
}

.home-events {
  margin-bottom: 20px;
}

.home-events-content {
  padding: 20px;
}

.event-blue {
  color: #026b7e;
  background-color: #c4f6ff;
}

.event-blue * {
  color: #026b7e;
}

.event-green {
  color: #c4f6ff;
  background-color: #026b7e;
}

.event-green * {
  color: #c4f6ff;
}

.home-events-content p:nth-child(3) {
  font-weight: 700;
}

.planvisit-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 7px;
  grid-row-gap: 7px;
}

.grid {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid a {
  font: 1.7rem "mixta-didone-alt";
}

.black-link {
  color: var(--black);
}

.white-link {
  color: var(--white);
}

/* VISIT US ---------- */
.visit-us-content a {
  font-size: 1.5rem;
}

/* EXHIBITIONS ---------- */
.exhibitions-img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exhibitions-img span {
  font-size: 3rem;
}

.bottom-navigationbar {
  color: var(--white);
  background: var(--oceanblue);
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  bottom: 0;
  display: none;
}

.bottom-navigationbar a {
  color: var(--white);
  font-size: 1.866rem;
}

/* VISIT US ----------*/
.visit-us-location i {
  display: inline;
}

/* WHATS HAPPENING ----------*/
.whats-happening-content h3 {
  font-size: 2.5rem;
}

.content-padding {
  padding: 0 0 0 20px;
}

.whats-happening-img {
  margin-top: 0px;
}

.content-event {
  background-color: #c4f6ff;
}

.dates {
  padding-bottom: 30px;
}

.dates p {
  font-weight: 700;
}

/* EXPLORE */
.explore-content a {
  color: var(--darkblue);
}

/* MEDIA QUIRIES ---------- */
@media (max-width: 319px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 1.5rem;
  }

  p,
  a {
    font-size: 1.2rem;
  }

  .planvisit-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 767px) {
  .width {
    max-width: 450px;
  }

  .explore-img,
  .get-involved-img {
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .width {
    width: 80%;
    max-width: 690px;
  }

  .margin-bottom {
    margin-bottom: 50px;
  }

  h1 {
    font-size: 4.5rem;
    margin-bottom: 50px;
  }

  h2,
  h3,
  h4,
  p,
  a {
    font-size: 2rem;
  }

  hr {
    margin-bottom: 50px;
  }

  nav {
    margin-top: 115px;
    width: 100vw;
  }

  nav ul {
    text-align: right;
    margin-right: 10%;
  }

  header {
    height: 115px;
  }

  .logo {
    font-size: 3.8rem;
  }

  .hamburger span {
    width: 50px;
    height: 5px;
  }

  #trigger:checked ~ .hamburger span:last-child {
    top: -12px;
  }

  .welcome {
    height: 800px;
  }

  .welcome-text {
    height: 600px;
    max-width: 800px;
  }

  .welcome-text h1 {
    font-size: 4.5rem;
  }

  .welcome-text a {
    font-size: 2.5rem;
  }

  .home-exhib,
  .content-event,
  .about-us-contact p:nth-child(4) {
    margin-bottom: 50px;
  }

  .home-exhib {
    height: 360px;
  }

  .home-exhib span {
    font-size: 4rem;
  }

  .home-exhib span:nth-child(3) {
    font-size: 2rem;
  }

  .home-events-content {
    padding: 20px 40px;
  }

  .planvisit-grid {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .grid {
    height: 300px;
  }

  .home-planvisit a {
    font-size: 3rem;
  }

  .exhibitions-img {
    height: 350px;
  }

  .exhibitions-img span {
    font-size: 4rem;
  }

  .bottom-navigationbar {
    display: contents;
    flex-direction: row;
  }

  .content-padding {
    padding: 0 40px;
  }

  .image-div {
    width: 60%;
  }

  .visit-us-rows {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .clearfix {
    display: flow-root;
  }

  .about-us-content img,
  .visit-us-content img {
    margin-bottom: auto;
  }

  .float-right,
  .float-right-img {
    float: right;
    margin: auto auto auto 20px;
  }

  .float-left,
  .float-left-img {
    float: left;
    margin: 0px 20px auto auto;
  }

  .float-right-img,
  .float-left-img,
  .explore-img {
    width: 50%;
  }

  .for-kids-img {
    background-position: bottom;
  }

  .get-involved-img {
    width: 60%;
  }

  .explore-img,
  .get-involved-img {
    height: 310px;
  }
}

@media (min-width: 1024px) {
  .width {
    width: 70%;
  }

  .front-page-link {
    transition: letter-spacing 0.2s ease-in-out;
  }

  .front-page-link:hover {
    letter-spacing: 1rem;
  }

  nav a:hover {
    color: var(--black);
  }

  .nav-black-links a:hover {
    display: inline;
    color: var(--darkblue);
  }

  span:nth-child(3) {
    letter-spacing: 0.5rem;
  }

  .exhib:hover span:nth-child(3) {
    letter-spacing: 1rem;
  }

  .grid:hover a {
    letter-spacing: 0.8rem;
  }
  .home-whats-happening-content {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }

  .home-events {
    width: 50%;
    height: 612px;
  }

  .home-events-content {
    padding: 20px 5px;
  }

  .home-whats-happening-content hr {
    display: none;
  }

  .exhibitions-img {
    height: 500px;
  }

  .explore-img,
  .get-involved-img {
    height: 360px;
  }

  .exhibitions-img span {
    font-size: 8rem;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer h2 {
    margin-top: 10px;
  }
}

@media (min-width: 1100px) {
  nav {
    display: contents;
    z-index: 0;
    margin-top: 0;
    right: auto;
    height: auto;
    width: auto;
    position: initial;
  }

  nav ul {
    margin-top: 40px;
    margin-right: auto;
  }

  nav li {
    display: inline;
  }

  nav a {
    margin-left: auto;
    font-size: 1.5rem;
    padding: 10px;
  }

  .active {
    font-style: italic;
  }

  .nav-black-links {
    display: block;
    margin-top: 10px;
  }

  .header-green {
    background-color: var(--black);
  }

  .header-green .logo {
    color: var(--white);
  }

  .header-green .nav-black-links a {
    color: var(--white);
  }

  .header-green nav a:hover {
    color: var(--white);
  }

  .header-green .nav-black-links a:hover {
    color: var(--darkblue);
  }

  .bull,
  .bigscreen-hide,
  .hamburger span {
    display: none;
  }
}
