/* Imports */
@import url("https://use.typekit.net/cgv4asz.css");

:root {
  --black: #000;
  --white: #fff;
  --darkblue: #5f85fc;
  --oceanblue: #7ac2cd;
  --lightgreen: #8efe9f;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  margin: 0;
}

main {
  width: 90%;
  margin: auto;
}

li {
  list-style: none;
}

h1 {
  font: 26px "proxima-nova";
  font-weight: 700;
  /* letter-spacing: ; */
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}

h2 {
  font: 18px "proxima-nova";
  font-weight: 700;
  text-transform: uppercase;
  /* letter-spacing: ; */
}

h3 {
  font: 18px "mixta-didone-alt";
  font-weight: 900;
  /* letter-spacing: ; */
  text-transform: uppercase;
  margin: 10px auto;
}

p {
  font: 18px "proxima-nova";
  font-weight: 400;
  /* letter-spacing: ; */
  /* line-height: ; */
}

p:not(footer p) {
  margin-bottom: 30px;
}

a {
  font: 18px "proxima-nova";
  font-weight: 700;
  /* letter-spacing: ; */
  text-transform: uppercase;
  text-decoration: none;
}

hr {
  border: 0.5px solid var(--black);
  width: 80%;
  margin: 30px auto;
}

/* Navigation */
nav {
  background: var(--white);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav :first-child {
  color: var(--black);
  font: 18px "mixta-didone-alt";
  letter-spacing: 0.5px;
  text-transform: initial;
}

.menu-button img,
.close-button img {
  width: 50%;
  height: auto;
  transition: all 0.3s;
}

.menu {
  background: var(--white);
  transition: all 0.5s ease-in;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1000;
  visibility: hidden;
}

.menu:target {
  visibility: visible;
}

.menu a {
  color: var(--darkblue);
  border: 1px solid red;
  margin-left: 35px;
}

.nav-black-links a {
  color: var(--black);
  text-transform: initial;
}

/* Footer */
footer {
  color: var(--white);
  background-color: var(--black);
}

footer p:first-of-type {
  padding-top: 30px;
}

footer :nth-child(4) {
  margin: 30px 0;
}

footer :nth-child(12) {
  margin-bottom: 30px;
}

footer :last-child {
  padding-bottom: 50px;
}

/* Home page */
header {
  background: url(images/atom-frontpage-william-bout-264826-downsized.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1px;
  width: 100%;
  height: 515px;
  display: flex;
  flex-direction: column;
}

.header-text {
  background: rgba(171, 242, 239, 0.5);
  width: 90%;
  margin: auto;
}

.header-text h1 {
  transform: rotate(352deg);
  text-transform: none;
  text-align: center;
  padding: 100px 0;
  margin: auto;
}

button {
  background: var(--darkblue);
  box-shadow: -3px 3px 0 3px rgba(95, 133, 252, 0.5);
  border: none;
  padding: 5px 10px;
  margin: auto;
}

button a {
  color: var(--black);
}

.home-exhibitions {
  display: inline-block;
}

.home-exhibitions img {
  width: 343px;
  height: 190px;
}

.home-exhibitions p {
  margin: 10px 0 20px;
}

.home-exhibitions a {
  color: var(--darkblue);
}

.nav-green {
  background-color: var(--lightgreen);
}

/* Pictures */

.for-kids-img {
  background: url("images/samuel-zeller-158996-downsized-1800.jpg") no-repeat;
}

.visit-us-info img,
.explore-content img {
  width: 343px;
  height: 295px;
  margin-bottom: 30px;
}

/* Visit Us */
