/* IMPORTS ---------- */
@import url("https://use.typekit.net/cgv4asz.css");

:root {
  --black: #000;
  --white: #fff;
  --darkblue: #5f85fc;
  --oceanblue: #7ac2cd;
  --lightgreen: #8efe9f;
}

/* BASE STYLE ---------- */

* {
  margin: 0px;
  padding: 0;
}

body {
  background-color: var(--white);
}

main {
  width: 90%;
  margin: 30px auto 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

li {
  list-style: none;
}

h1 {
  font: 26px "proxima-nova";
  font-weight: 700;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}

h2,
h4 {
  font: 18px "proxima-nova";
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h3 {
  font: 18px "mixta-didone-alt";
  font-weight: 900;
  text-transform: uppercase;
  margin: 10px auto;
}

h4 {
  color: var(--darkblue);
}

p {
  font: 18px "proxima-nova";
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.4;
}

p:not(.no-bottom-margin p) {
  margin-bottom: 30px;
}

a {
  font: 18px "proxima-nova";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

hr {
  border: 0.5px solid var(--black);
  width: 80%;
  margin: 30px auto;
}

/* NAVIGATION ---------- */
header {
  background: var(--white);
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-green {
  background-color: var(--lightgreen);
}

.hamburger span {
  height: 3px;
  width: 30px;
  background: var(--black);
  display: block;
  margin-bottom: 5px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.logo {
  color: var(--black);
  font: 18px "mixta-didone-alt";
  letter-spacing: 0.5px;
  text-transform: initial;
}

nav {
  background: var(--white);
  width: 100vw;
  height: 100%;
  position: absolute;
  right: -100vw;
  margin-top: 59px;
  top: 0;
  z-index: 1000;
  transition: right 0.2s ease-in-out;
  overflow-y: hidden;
}

.nav-green {
  background-color: var(--lightgreen);
}

nav ul {
  margin-top: 50px;
}

nav a,
nav p {
  color: var(--darkblue);
  margin-left: 35px;
  padding: 5px;
}

nav li {
  margin-bottom: 20px;
}

.nav-black-links a {
  color: var(--black);
  text-transform: initial;
}

nav a:active {
  color: inherit;
}

nav a:hover {
  color: var(--black);
}

.nav-black-links a:hover {
  color: var(--darkblue);
}

#trigger {
  display: none;
}

#trigger:checked ~ nav {
  right: 0;
}

#trigger:checked ~ .hamburger span:first-child {
  transform: rotate(45deg);
  top: 8px;
}

#trigger:checked ~ .hamburger span:last-child {
  transform: rotate(-45deg);
  top: -8px;
}

#trigger:checked ~ .hamburger span:nth-child(2) {
  opacity: 0;
}

/* FOOTER STYLE ---------- */
footer {
  color: var(--white);
  background-color: var(--black);
  width: 100vw;
  position: absolute;
  z-index: 999;
}

.footer-content {
  width: 90%;
  margin: 0 auto;
}

footer p:first-of-type {
  padding-top: 30px;
}

footer :nth-child(4) {
  margin: 30px 0;
}

footer :nth-child(12) {
  margin-bottom: 30px;
}

footer :last-child {
  padding-bottom: 50px;
}

/* IMAGES ---------- */
.for-kids-img {
  background: url("images/samuel-zeller-158996-downsized-1800.jpg") no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

.for-teachers-img {
  background: url("images/bee-naturalles-IRM9qgZdlW0-unsplash-2692-downsized.jpg") no-repeat;
}

.for-researchers-img {
  background: url("images/misael-moreno-Rl9bIWKCVF0-unsplash-2700-downsized.jpg") no-repeat;
}

.get-involved-img {
  background: url("images/markus-spiske-197281-downsized-2258.jpg") no-repeat;
  background-position: center;
}

.home-whats-happening img {
  min-width: 100%;
  max-width: 100%;
  flex-shrink: 0;
}

.visit-us-info img,
.about-us-content img,
.for-kids-img,
.for-teachers-img,
.for-researchers-img,
.get-involved-img {
  background-size: cover;
  width: 343px;
  height: 295px;
  margin: 30px auto;
  display: block;
}

.exhibition-content img {
  width: 343px;
  height: auto;
}

/* MAIN STYLE FOR ALL PAGES */

/* HOME PAGE STYLE ---------- */
.welcome {
  background: url(images/atom-frontpage-william-bout-264826-downsized.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1px;
  width: 100%;
  height: 515px;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.welcome-text {
  background: rgba(171, 242, 239, 0.5);
  width: 90%;
  margin: auto;
  padding: 30px 5px;
}

.welcome-text h1 {
  font-size: 30px;
  transform: rotate(352deg);
  text-transform: none;
  text-align: center;
  margin: auto;
}

button {
  background: var(--darkblue);
  box-shadow: -3px 3px 0 3px rgba(95, 133, 252, 0.5);
  border: none;
  padding: 5px 10px;
  margin: 20px auto;
  z-index: 999;
  float: right;
}

button a {
  color: var(--black);
}

.home-exhibitions {
  display: inline-block;
}

.home-exhibitions img {
  width: 343px;
  height: 190px;
}

.home-exhibitions p {
  margin: 10px 0 20px;
}

.home-exhibitions a {
  color: var(--darkblue);
}

.home-whats-happening h2,
.home-whats-happening p,
.home-whats-happening a {
  color: var(--white);
  margin: 15px;
}

.home-events {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-1 {
  background-color: #b17eff;
}

.color1 {
  background-color: rgba(120, 60, 208, 0.4);
}

.event-2 {
  background-color: #ffb100;
}

.color2 {
  background-color: rgba(203, 114, 19, 0.4);
}

.event-3 {
  background-color: #6cbbfd;
}

.color3 {
  background-color: rgba(38, 100, 211, 0.4);
}

.event-overlaycolor {
  margin: 10px;
}

/* ABOUT US ---------- */

.about-us-contact p:nth-child(4) {
  margin-bottom: 30px;
}

/* VISIT US ---------- */

/* EXHIBITIONS ---------- */
.bottom-navigationbar {
  color: var(--white);
  background: var(--oceanblue);
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  bottom: 0;
}

.bottom-navigationbar a {
  color: var(--white);
  font-size: 18.66px;
}

/* MEDIA QUIRIES ---------- */
@media (min-width: 768px) {
  main {
    width: 90%;
  }

  h1 {
    font-size: 55px;
  }

  h2,
  h3,
  p {
    font-size: 47px;
  }

  header {
    height: 115px;
  }

  .logo {
    font-size: 38px;
  }

  nav {
    margin-top: 114px;
  }

  .hamburger span {
    width: 50px;
    height: 5px;
  }

  #trigger:checked ~ .hamburger span:last-child {
    top: -12px;
  }

  .visit-us-info img,
  .about-us-content img,
  .for-kids-img,
  .for-teachers-img,
  .for-researchers-img,
  .get-involved-img {
    width: 750px;
    height: 580px;
    margin-bottom: 50px;
  }

  .bottom-navigationbar {
    flex-direction: row;
  }
}
